/* Builder Layout Overrides */

.full-image {
  img {
    width: 100%;
  }
}

.half-layout {
  img {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.full-width {
  padding: 0 !important;
}

@media only screen and (min-width: 630px) {
  .full-width {
    padding-top: 0 !important;

    .row {
      max-width: 100% !important;
      padding-top: 0 !important;
    }

    .col-lg-12 {
      padding: 0 !important;
    }
  }
}

/* END Builder Layout Overrides */

/* Modal */

.modal-button {
  img {
    width: 100%;
  }
}

.modal-image {
  width: 100%;
}

/* Modal */

/* Slick Carousel */

.carousel-title {
  margin-bottom: 20px;
}

.slick-prev::before,
.slick-next::before {
  color: #fff;
  font-size: 40px;
  text-shadow: 0 0 20px #000;
}

.slick-slide {
  padding: 0 10px;
  overflow: hidden;
  outline: 0;

  span {
    border-radius: 20px;
    display: block;
    overflow: hidden;
  }

  img {
    max-width: 100%;
    width: 100%;
  }
}

.slick-prev,
.slick-next {
  z-index: 999;
  width: 40px;
  height: 40px;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

@media (max-width: 768px) {
  .carousel-con {
    padding: 0 40px;
  }

  .slick-prev::before,
  .slick-next::before {
    color: #777;
    font-size: 40px;
    text-shadow: none;
  }

  .slick-prev {
    left: -40px;
  }

  .slick-next {
    right: -40px;
  }
}

/* END Slick Carousel */

/* Promo Boxes */

.home-boxes {
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 5px;
  margin-bottom: 40px;
  min-height: 160px;
  max-height: 160px;
  padding: 15px 20px;

  h1,
  h2,
  h3 {
    font-weight: bold;
  }

  h1,
  h2,
  h3,
  a,
  p {
    color: #fff;
    margin: 0;
    padding: 0;
  }

  p {
    position: absolute;
  }

  svg {
    max-width: 10px;
    width: 10px;
  }

  img {
    min-width: auto;
    display: inline-block;
    bottom: -30px;
    position: relative;
  }
}

.promo-boxes-inner {
  padding: 80px 20px 20px 20px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0 0;
  background-blend-mode: luminosity;
  background-color: #000;

  h3 {
    color: #fff;
  }

  h3::after {
    content: none;
  }
}

.promo-boxes-inner:hover {
  background-blend-mode: normal;
}

.promo-boxes-inner::after {
  background-image: url(https://www.wellcentred.co.uk/wp-content/uploads/2017/04/Wellcentred-Watercolour-Effect.png);
  width: 100%;
  content: "";
  height: 100%;
  position: absolute;
  bottom: -5px;
  right: 0;
  background-size: contain;
  background-repeat-y: no-repeat;
  background-position: bottom;
}

.promo-boxes {
  margin-bottom: 20px;
}

/* END Promo Boxes */

/* Blog Feed */

.blog-feed {
  padding-top: 30px;

  .row {
    padding: 0 !important;
  }

  article {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px #ccc;
  }

  article:hover {
    box-shadow: 0 0 10px #b1b1b1;
  }

  img {
    width: 100%;
    height: inherit;
  }

  h2 {
    font-size: 22px;
    font-weight: normal;
  }

  p {
    font-size: 14px;
  }

  .post-meta {
    font-size: 12px;
  }

  .button {
    width: 100%;
    text-align: center;
    background-color: #eee;
    color: theme-color("primary");
    font-weight: bold;
    margin-top: 10px;
  }
}

.blog .header {
  border-bottom: 1px solid #ccc;

  h2 {
    display: inline-block;
  }

  a {
    float: right;
  }
}

/* END Blog Feed */

/* Page Slider */

.carousel-inner {
  max-height: 700px;
}

.slider-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  max-width: 500px;
  width: 50%;
  z-index: 99;
}

.carousel-inner::after {
  background-image: url(https://www.wellcentred.co.uk/wp-content/uploads/2017/04/Wellcentred-Watercolour-Effect.png);
  width: 100%;
  content: "";
  height: 100%;
  position: absolute;
  bottom: -5px;
  right: 0;
  background-size: contain;
  background-repeat-y: no-repeat;
  background-position: bottom;
  z-index: 1;
}

@media only screen and (max-width: 630px) {
  .carousel-inner {
    max-height: 300px;
  }
}

@media only screen and (max-width: 576px) {
  .page_slider_images {
    height: 300px;
  }
}

@media only screen and (min-width: 576px) {
  .page_slider_images {
    height: 400px;
  }
}

@media only screen and (min-width: 768px) {
  .page_slider_images {
    height: 500px;
  }
}

@media only screen and (min-width: 992px) {
  .page_slider_images {
    height: 700px;
  }
}

.slider-image {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;

  svg {
    color: #fff;
    width: 30px;
    max-width: 30px;
  }
}

/* END Page Slider */

/* END Treament Boxes */

.treatment-boxes {
  padding: 120px 20px 20px 20px;
  background-size: auto 120%;
  -webkit-transition: all 1s ease-in-out;
  background-position: center;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;

  h3,
  p {
    z-index: 2;
    position: relative;
    color: #fff;
    font-size: 16px;
    margin: 0;
  }

  p {
    font-size: 13px;
  }
}

.treatment-boxes::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  z-index: 1;
}

.treatment-boxes:hover {
  background-size: auto 140%;
  box-shadow: 3px 3px 20px #777;
}

.pricing-table {
  width: 100%;

  th,
  td {
    width: 33%;
  }
}

/* END Treament Boxes */

/* Page Accordion */

.accordion-title svg {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.accordion-title.collapsed svg {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.page-accordion {
  width: 100%;

  .accordion-maintitle {
    padding-bottom: 20px;
  }

  .accordion-title {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 1px solid #eee;

    h3 {
      margin-bottom: 1rem;
      font-size: 1.2rem;

      svg {
        width: 28px;
        height: 28px;
        padding: 5px;
        float: right;
        background-color: theme-color("secondary");
        color: #fff;
        border-radius: 50%;
      }
    }
  }

  .accordion-content-cont {
    width: 100%;

    .accordion-content {
      margin-bottom: 1rem;
    }
  }
}

/* END Page Accordion */

/* Readmore */

.read-more-content {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.read-more-toggle {
  display: none;
}

.read-more-toggle-label {
  display: inline-block;
  user-select: none;
  cursor: pointer;
  border: none;
  font-size: 15px;
  font-weight: bold;
  color: theme-color("primary");
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0.8) 100%);
  margin: 0;
  padding: 20px 0 15px 0;
}

.product-header-archive .read-more-toggle-label {
  background: #fff;
  background: linear-gradient(0deg, #fff 60%, #fff0 100%);
}

.read-more-toggle:checked + .read-more-content {
  display: block;

  /* css animation won't work with "auto"; set to some height larger than the content */

  max-height: inherit;
}

.read-more-toggle ~ .read-more-toggle-label::after {
  content: "More";
}

.read-more-toggle:checked ~ .read-more-toggle-label::after {
  content: "Less";
}

/* END Readmore */
