.button {
  background: theme-color("secondary");
  padding: 10px 20px;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: 5px solid theme-color("secondary");
  outline: 0;
  text-align: center;
  margin-bottom: 20px;
}

.promo-boxes-inner .button {
  border: 5px solid #fff;
  color: #fff;
  z-index: 9;
  position: relative;
}

.button:hover {
  background-color: theme-color("primary");
  color: #fff;
}

.search-form {
  button {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    vertical-align: middle;
    max-height: 38px;
    background-color: #197d9e;
    line-height: 38px;
    border: 0;
    color: #fff;
  }
}

.gform_button {
  border: none;
  outline: 0;
  width: 100% !important;
  box-shadow: 0 0 20px theme-color("secondary");
}
