/** Search form */
.search-form {
  @extend .form-inline;

  width: 100%;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
  width: 100%;
}

.search-post-featured-image {
  max-height: 200px;
  min-height: 200px;
  overflow: hidden;
  margin-bottom: 10px;
}

.search-cont {
  background-color: #eee;
}

.search-post-cont {
  .entry-title {
    min-height: 3.6em;
  }

  .row {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px #ddd;
  }
}

.search-form .search-field {
  @extend .form-control;

  width: 100%;
  display: block;
  height: 60px;
  margin-bottom: 40px;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

/* Form Styles */

.gform_button {
  width: 100% !important;
  border-radius: 4px;
  margin-top: 10px !important;
  border: none;
}

.gf_100 {
  width: 100%;
}

.opt-in ul li:first-child,
.opt-out ul li:first-child {
  display: none !important;
}

.gform_wrapper ul.gform_fields li.gfield,
.gform_wrapper .top_label li.gfield.gf_left_half,
.gform_wrapper .top_label li.gfield.gf_right_half {
  padding-right: 0 !important;
}

.gform_wrapper .top_label li.gfield.gf_left_half {
  padding-right: 10px !important;
}

#contact div[id*="gform_wrapper"] {
  max-width: 90% !important;
}

.gform_wrapper textarea.medium {
  height: 100px !important;
}

.gform_wrapper .top_label li.gfield.gf_right_half {
  padding-left: 10px;
}

div[id*="gform_wrapper"].gform_wrapper form[id*="gform"] li.gfield {
  margin-bottom: 0 !important;
}

.ginput_container,
.gfield_label {
  margin: 0 !important;
}

.modal .gfield_label {
  font-size: 14px !important;
  color: #fff;
}

.gform_wrapper.gravity-theme .gfield textarea.large {
  height: 80px !important;
}

.ginput_container input,
.ginput_container textarea,
.ginput_container select {
  margin: 0 !important;
  width: 100%;
  height: 41px;
  background: #fcfcfc !important;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}

.gfield-choice-input,
.gfield_radio .gchoice input {
  height: inherit !important;
  width: auto !important;
}

.gfield,
.gform_wrapper .gfield input {
  margin: 0 !important;
}

/* End Form Styles */
