.pre-footer {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;

  .row {
    border-top: 1px solid #eee;
  }

  .footer-logo {
    max-width: 150px;
    margin: 0 auto;
  }
}

.footer-widget-area {
  border-top: 1px solid #eee;

  .col-lg-4 {
    border-right: 1px solid #eee;
  }

  .col-lg-4:last-child {
    border: none !important;
  }
}

.pre-footer,
.footer-copyright {
  background-color: theme-color("secondary");
  color: #fff;
  text-align: center;

  .footer-left {
    text-align: left;
  }

  .row {
    border-top: 1px solid #fff3;
  }

  .footer-right {
    text-align: right;
  }

  svg {
    max-width: 45px;
    max-height: 45px;
    width: 45px;
  }

  a {
    color: #fff;
  }
}

.footer-copyright {
  padding-top: 0;

  .row {
    padding: 40px 0 10px 0 !important;
  }

  .social-icons {
    svg {
      width: 40px;
      max-width: 40px;
      max-height: 40px;
      min-width: 40px;
      border: 1px solid;
      border-radius: 50%;
      padding: 10px;
    }
  }

  .menu {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      padding: 0 10px 0 0;
      margin-right: 5px;
      font-size: 1rem;
      font-weight: normal;
      display: inline-block;
      border-right: 1px solid #fff3;
    }

    li:last-child {
      border-right: none;
      margin-right: 0;
    }
  }
}

.social-footer {
  a {
    color: #000;
  }

  img {
    width: 62px;
  }

  i {
    border: 2px solid #000;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    color: #000;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 998px) {
  .footer,
  .footer-copyright,
  .footer-copyright .cards {
    text-align: center;
  }

  .footer-copyright .cards {
    padding-top: 20px;
  }

  .footer-widget-area {
    .col-lg-4 {
      border-right: none;
      padding-bottom: 20px;
    }
  }
}

@media (max-width: 768px) {
  .footer,
  .footer-copyright {
    .footer-left,
    .footer-right {
      text-align: center;
    }
  }
}
