.pre-header {
  font-weight: bold;
  line-height: 45px;
  color: $headings-color !important;
  font-size: 16px;
  border-bottom: 2px solid #eee;

  .widget {
    display: inline-block;

    .menu {
      margin: 0;

      li {
        list-style: none;
        padding: 0 10px 0 0;
        margin-right: 5px;
        font-size: 13px;
        font-weight: normal;
        display: inline-block;
        border-right: 1px solid #eee;
      }

      li:last-child {
        border-right: none;
      }
    }
  }

  a,
  h1,
  h2,
  p {
    color: $headings-color !important;
  }

  .row {
    padding: 0 !important;
  }

  i {
    border: 1px solid #eee;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    color: $headings-color;
  }

  .pre-contain {
    border-right: 2px solid #eee;
    padding: 0 1rem !important;
  }

  .pre-contain:last-child {
    border: none !important;
  }
}

.search-button-header {
  svg {
    min-width: 20px;
    max-width: 20px;
    width: 20px;
  }
}

.header-phone {
  display: inline-block;
  color: $headings-color;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #eee;

  svg {
    max-width: 20px;
    max-height: 20px;
    width: 20px;
  }
}

.header-right {
  text-align: right;

  a {
    font-weight: normal;
  }
}

.social-icons {
  display: inline-block;

  a {
    margin-right: 10px;
    display: inline-block;
  }

  a:last-child {
    margin-right: 0;
  }

  svg {
    width: 30px;
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    border: 1px solid;
    border-radius: 50%;
    padding: 6px;
    margin-bottom: 5px;
  }
}

.search-form {
  display: inline-block;
  position: relative;

  .search-field {
    width: 100%;
    display: block;
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    vertical-align: middle;
    max-height: 38px;
    background-color: #197d9e;
    line-height: 38px;
    border: 0;
    color: #fff;
  }
}

.brand.logo {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.home_slider {
  margin-bottom: 40px;

  img {
    width: 100%;
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 40px;
  height: 40px;
}

@media only screen and (max-width: 630px) {
  .header-right a {
    font-weight: normal;
    font-size: 11px;
  }

  .header-phone {
    font-size: 20px;
  }

  .social-icons {
    svg {
      max-width: 28px;
      min-width: 28px;
      max-height: 28px;
      width: 28px;
      padding: 6px;
    }

    a {
      margin-right: 5px;
    }
  }
}

@media only screen and (max-width: 340px) {
  .header-phone {
    font-size: 16px;
  }
}
