.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;

  font-weight: bold;
  padding: 0.8rem 0.8rem;
}

.navbar-nav .dropdown-menu {
  border: none !important;
}

.header-nav {
  padding: 10px;
}

.dropdown-toggle {
  display: none !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-submenu {
  position: relative;
}

.navbar-expand-lg {
  height: 100%;
}

.nav-right {
  right: 0;
  position: absolute;
}

.navbar-toggler {
  float: right;

  svg {
    color: $headings-color;
    max-width: 20px;
    width: 20px;
  }
}

.mob-nav,
.navbar-nav .dropdown-menu {
  background-color: theme-color("secondary") !important;
}

@media only screen and (min-width: 992px) {
  .mob-nav {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: theme-color("secondary");
  }

  .banner .nav a {
    padding: 0 0.3rem;
    font-size: 14px;
  }

  .banner .nav .dropdown-menu {
    background: #fff;
    padding: 0;
    margin: 0;
    text-indent: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    width: 200px;

    a {
      padding: 0.8rem 0.8rem;
      line-height: 20px;
      border-radius: 0;
      font-weight: normal !important;
    }
  }

  .align-right {
    position: unset !important;
  }

  .navbar {
    position: unset !important;
    padding: 0;

    .nav-primary,
    .navbar-nav,
    .menu-item {
      position: relative !important;
    }

    .menu-main-nav-container {
      position: absolute !important;
      right: 0;
    }
  }

  .c-2 .menu-item {
    width: 50% !important;
    padding: 7px;
  }

  .c-3 .menu-item {
    width: 33% !important;
    padding: 7px;
  }

  .c-4 .menu-item {
    width: 25% !important;
    padding: 7px;
  }

  .c-5 .menu-item {
    width: 20% !important;
    padding: 7px;
  }

  .c-6 .menu-item {
    width: 16.66% !important;
    padding: 7px;
  }

  .c-2 .menu-item .menu-item,
  .c-3 .menu-item .menu-item,
  .c-4 .menu-item .menu-item,
  .c-5 .menu-item .menu-item,
  .c-6 .menu-item .menu-item {
    width: 100% !important;

    a {
      font-size: 15px;
      padding: 0;
    }
  }

  .multi-line .dropdown-menu li:last-child::before {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #fff;
    display: block;
  }

  #menu-main-nav .menu-item-has-children:hover {
    .dropdown-menu {
      width: 100%;
      position: absolute;
      left: 0;
      display: block;
      border-bottom: none;
      border-radius: 0;
      text-align: left;

      li {
        display: block;
        min-width: 16%;
      }

      a {
        color: #fff;
      }

      .menu-heading {
        a {
          font-weight: bold !important;
        }

        ul li a {
          font-weight: normal !important;
          width: 100%;
          border-bottom: none;
        }
      }
    }
  }

  #menu-main-nav .menu-item-has-children.c-2:hover .dropdown-menu,
  #menu-main-nav .menu-item-has-children.c-3:hover .dropdown-menu,
  #menu-main-nav .menu-item-has-children.c-4:hover .dropdown-menu,
  #menu-main-nav .menu-item-has-children.c-5:hover .dropdown-menu,
  #menu-main-nav .menu-item-has-children.c-6:hover .dropdown-menu {
    display: inline-flex !important;
  }

  #menu-main-nav .menu-item-has-children:hover .dropdown-menu .dropdown-menu {
    top: 0;
    background: transparent;
    border-top: none;
    display: inline-block !important;
    position: relative;
    width: 250px !important;

    .dropdown-menu {
      text-indent: 20px;
    }
  }

  .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: 1.2em;
  }
}

.dropdown-menu.show {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .navbar {
    padding: 0;
  }

  .dropdown-toggle {
    position: absolute;
    right: 0;
    top: 0;
    border: none !important;

    svg {
      width: 20px;
    }
  }

  .dropdown-menu {
    text-indent: 20px;

    .dropdown-menu a {
      text-indent: 40px;
    }
  }

  .menu-item-has-children .dropdown-toggle {
    display: inherit !important;
  }

  .menu-item-has-children .menu-item-has-children .menu-item .dropdown-toggle {
    display: none !important;
  }

  .menu-item-has-children .menu-item-has-children .menu-item.menu-item-has-children .dropdown-toggle {
    display: inherit !important;
  }

  .menu-item-has-children .menu-item-has-children .menu-item-has-children .menu-item .dropdown-toggle {
    display: none !important;
  }

  .menu-item-has-children .menu-item-has-children .menu-item-has-children .menu-item.menu-item-has-children .dropdown-toggle {
    display: inherit !important;
  }

  .pre-header {
    .col-sm-12 {
      text-align: center;
    }
  }

  .align-right {
    text-align: right;
  }

  .banner .nav a {
    border-right: none;
    border-bottom: 1px solid #eee;
  }

  .banner {
    .col-sm-6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      padding-bottom: 20px;
      padding-top: 20px;
    }

    .col-sm-4 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
      padding-bottom: 20px;
      padding-top: 20px;
    }

    .col-sm-8 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
      padding-bottom: 20px;
      padding-top: 20px;
    }

    .col-sm-12 {
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  #wpadminbar {
    top: -46px !important;
  }
}
