.row .col-lg-6 iframe {
  width: 100% !important;
  height: 300px;
}

.row .col-lg-12 {
  .img-100 {
    width: 100% !important;
  }

  iframe {
    width: 100% !important;
    height: 490px;
  }
}

.main {
  padding-top: 0 !important;
}

.container {
  max-width: 100% !important;
}

.row {
  padding: 20px 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.banner .row {
  padding: 0 !important;
}

/* New Layout */

@media (min-width: 576px) {
  .row {
    max-width: 540px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .row {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .row,
  #menu-main-nav .menu-item-has-children:hover .dropdown-menu {
    max-width: 960px;
    margin: 0 auto;
  }

  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (min-width: 1200px) {
  .row,
  #menu-main-nav .menu-item-has-children:hover .dropdown-menu {
    max-width: 1140px;
    margin: 0 auto;
  }
}
