.post-featured-image {
  img {
    max-width: 100%;
    width: 100%;
    height: inherit;
  }
}

.navigation {
  margin-top: 20px;
  text-align: right;
}

.blog {
  article {
    border-bottom: 1px solid #eee;
  }

  article:last-child {
    border-bottom: none;
  }
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
  color: theme-color("primary");
  text-decoration: none;
}

.navigation li {
  display: inline;
}
