.pre-header,
.banner {
  background: theme-color("secondary");

  svg,
  h1,
  h2,
  h3,
  h4,
  p,
  a,
  .header-phone {
    color: #fff !important;
  }
}

.slider-text {
  h1,
  h2,
  p {
    text-shadow: 0 0 10px #fff;
  }

  p {
    color: #fff !important;
  }
}

h3::after,
h4::after {
  content: "";
  height: 3px;
  width: 15%;
  left: 0;
  margin-top: 10px;
  bottom: 0;
  background-color: #06b2b1;
  display: block;
}

.home .pre-header,
.home .banner {
  background: rgba(0, 0, 0, 0.3);
}

.font-inc {
  p {
    font-size: 20px;
  }
}

.half-width {
  .row {
    width: 50% !important;
  }
}

.home .main-nav-cont {
  position: absolute;
  width: 100%;
  z-index: 999;
}

.page-header {
  img {
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  a {
    color: #fff;
  }

  h1 {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 30px;
    text-shadow: 0 0 30px #000;
  }

  .button {
    width: 100%;
    text-align: center;
  }

  .row {
    padding-top: 200px !important;
    padding-bottom: 50px !important;
  }
}

.home-page-header {
  img {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  a {
    color: #fff;
  }

  h1 {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 30px;
  }

  .button {
    width: 100%;
    text-align: center;
  }

  .row {
    padding-top: 220px !important;
    padding-bottom: 50px !important;
  }
}

.header-right {
  p {
    color: #fff;
  }

  svg {
    max-width: 100px;
    display: inline-block;
  }
}

.brand.logo img {
  max-height: 100px;
}

/* brand image need to be 20px less than nav line height */

@media only screen and (min-width: 992px) {
  .banner .nav a {
    line-height: 120px;
  }
}

@media only screen and (max-width: 630px) {
  .home-page-header {
    h1 {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 30px;
    }
  }

  .carousel-inner::after,
  .promo-boxes-inner::after {
    background-repeat: no-repeat;
  }

  .home .main-nav-cont {
    position: relative;
    width: 100%;
    z-index: 999;
  }

  .home .pre-header,
  .home .banner {
    background-color: theme-color("secondary");
  }

  .font-inc {
    p {
      font-size: 18px;
    }
  }

  .page-header {
    h1 {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 30px;
    }
  }
}

.mob-nav {
  background-color: #000;
}

/* Dropdown needs to be the nav line height plus 45px for top */

#menu-main-nav .menu-item-has-children:hover {
  .dropdown-menu {
    background: theme-color("primary");
    border-top: none !important;
    right: 0;
    top: 120px;

    .dropdown-menu {
      border: none !important;
    }

    li {
      text-align: left;
    }

    a {
      color: #fff;
      font-weight: bold !important;
    }
  }

  .menu-heading {
    a {
      border-bottom: 1px solid #c4c4c4;
    }
  }
}

.modal {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

@media (max-width: 768px) {
  .half-width {
    .row {
      width: 70% !important;
      margin: 0 auto;
    }
  }
}
