body {
  position: relative;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

h1,
h2 {
  color: theme-color("primary");
  font-size: 33px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
}

.align-right {
  text-align: right;
}

.search-submit {
  min-height: 60px;

  svg {
    max-width: 20px;
    width: 20px;
    color: #fff;
  }
}

.pop-up-form {
  .logo {
    max-width: 300px;
    margin-bottom: 20px;
  }
}

.modal-backdrop {
  background: none !important;
}

.modal-content {
  background-color: transparent !important;
  border: none !important;
  position: relative;
  text-align: center;

  h1,
  h2,
  h3,
  h4,
  p,
  a {
    color: #fff;
  }

  .close {
    position: absolute;
    right: 0;

    svg {
      max-width: 40px;
      width: 40px;
      color: #fff;
    }
  }

  .search-form {
    width: 100%;

    .search-field {
      height: 60px;
    }
  }

  .modal-body {
    margin-top: 60px;
  }
}

a:hover {
  text-decoration: none;
}

.main .container,
.pre-footer,
.footer-widget-area,
.footer-copyright {
  padding-bottom: 30px;
  padding-top: 30px;
}

@media only screen and (min-width: 992px) {
  .hide-desktop {
    display: none !important;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    display: none;
  }

  #menu-main-nav .menu-item-has-children:hover .dropdown-menu {
    display: inherit;
  }

  #menu-main-nav .menu-item-has-children:hover .dropdown-submenu .dropdown-menu {
    display: none !important;
  }

  #menu-main-nav .menu-item-has-children:hover .dropdown-submenu:hover .dropdown-menu {
    display: inherit !important;
  }
}

@media only screen and (max-width: 992px) {
  .hide-mobile {
    display: none !important;
  }
}
