/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #06b2b1,
  secondary: #e5afaf,
);

$brand-font: verdana, sans-serif;
$font-family-base: $brand-font;
$gray-base: #000;
$body-color: #64686d;
$headings-color: #444;
$text-color: #fff;
$body-bg: #fff;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
